{% extends 'parent/base.html' %}
{% load blog_tags %}
{% block title %}post detail{% endblock %}
{% block content %}
    <h1>post detail</h1>
    <h2>{{ post.title }} (by {{ post.author }})</h2>
    <div>
        {% if post.images.all %}
            {# Removed inline width/height, let CSS handle it #}
            <img src="{{ post.images.first.image_file.url }}" alt="{{ post.images.first.title }}">
        {% endif %}
    </div>
    <p>{{ post.description | markdown | censorship }}</p>
    <hr>
    <p>{{ post.publish }}</p>
    <br>

    {% for img in post.images.all %}
        {% if not forloop.first %}
            {# Removed inline width, let CSS handle it #}
            <img src="{{ img.image_file.url }}" alt="{{ img.title }}">
        {% endif %}
    {% endfor %}


    <div class="comments-section"> {# Added class for comments section styling #}
        {% with comments.count as cm_count %}
        <div>
                {{ cm_count }} comment{{ cm_count|pluralize }}
        </div>
        {% endwith %}

        <div>
            {% for cm in comments %}
                <div class="comment-item"> {# Added class for individual comment styling #}
                    <strong>{{ cm.name }}:</strong>
                    <p>{{ cm.body|linebreaks }}</p>
                </div>
            {% empty %}
                <p>Be the first one to comment!</p>
            {% endfor %}
        </div>
    </div>

    <form method="post" action="{% url "blog:post_comment" post.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Comment">
    </form>

{% endblock %}
